#container, #widget, #response {
	width: 100%;
	max-width: 480px; 
}

@media only screen and (max-width: 400px) {
    #source, p, li, button, input {
    	font-size: 0.9em;
    }
    h1 {
    	font-size: 20pt;
    }
    #submit {
    	margin-top: 0px
    }
}

#container {
	border-radius: 12px;
	background-color: rgba(173,216,230,0.6);
	border-style: solid;
    border-width: 1px;
}

#widget {
	height: 210px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#response {
	height: 100px;
	display: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#header {
	height: 100px;
}

p {
	margin-left: 30px;
	margin-right: 20px;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: "PT Sans", serif;
}
#search {
	text-align: center;
	padding-top: 30px;
}
p, li, button, input { 
	font-size: 1em;
	font-family: "PT Sans", serif;
}

#source {
	text-align: right;
	font-size: 1em;
}
