#container, #chart-container, #widget, #response {
	width: 96%;
}

@media only screen and (max-width: 400px) {
    p, li, button, input {
    	font-size: 0.8em;
    }
    h1 {
    	font-size: 22pt;
    }
    #submit {
    	margin-top: 0px
    }
}

#container {
	border-radius: 12px;
	background-color: rgba(173,216,230,0.6);
	border-style: solid;
    border-width: 1px;
}

#chart-container {
	display: none;
}

#widget {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

#response {
	
	display: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#header {
	height: 100px;
}

p {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

h1, h3 {
	text-align: center;
	font-family: "PT Sans", serif;
}



#search {
	text-align: center;
	padding-top: 30px;
}
p, li, button, input { 
	font-size: 1em;
	font-family: "PT Sans", serif;
}


#submit {
	margin-top: 5px;
}

#source {
    font-size: 0.7em;
    display: inline;	
}

button {
	margin-bottom: 10px; 
}

.chart{
	width: 100%;
	height: 120px;
}

.axis text, .label {
	font: 0.8em sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.d3-tip {
	line-height: 1;
	font-size: 1em;
	padding: 3px;
	color: rgb(0,0,0);
	border-radius: 2px;
}

#options {
	margin-right: 50px;
}
